<div class="tag"
     onclick="window.location.pathname='<%= profiles_path(:query => tag.try(:name)) -%>';">
  <span><%= tag.present? ? tag.name : '<Blank>' %></span>
  <div class="close"
       onclick="removeSingleTag(event, this)">x</div>
</div>
