<head>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
</head>
<body>
  <div
    class="fb-like"
    data-share="true"
    data-width="450"
    data-show-faces="true">
  </div>

  <button class="fb-integrate">
    Facebook
  </button>
</body>
<script>
  $(document).ready(function() {
    $.ajaxSetup({ cache: true });
    $.getScript('//connect.facebook.net/en_US/sdk.js', function(){
      FB.init({
        appId: '1104251826303726',
        version: 'v2.5' // or v2.0, v2.1, v2.2, v2.3
      });

      FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
          $('.fb-integrate').prop('disabled', true);
          /* make the API call */
          FB.api(
            "/" + response.authResponse.userID + "/likes",
            function (response) {
              if (response && !response.error) {
                debugger
              }
            }
          );
        }
      });

    });

    $('.fb-integrate').on('click', function(d) {
      FB.login();
    })
  });
</script>