<head>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
</head>
<body>
  <div
    class="fb-like"
    data-share="true"
    data-width="450"
    data-show-faces="true">
  </div>

  <button class="fb-integrate" disabled>
    Facebook
  </button>
  <button class="linkedin-integrate">
    LinkedIn
  </button>
</body>
<script>
  $(document).ready(function() {

    $.ajaxSetup({ cache: true });


    // Facebook
    $.getScript('//connect.facebook.net/en_US/sdk.js', function(){
      FB.init({
        appId: '1104251826303726',
        status: true,
        version: 'v2.5'
      });

      FB.getLoginStatus(function(response) {
        if (response.status === 'connected') {
          FB.api(
            "/me/likes",
            function (response) {
              if (response && !response.error) {
                $('.fb-integrate').prop('disabled', true);
                window.likes = [];

                var getPage = function(response){
                  likes = likes.concat(response.data.map(function(d) { return d.name }));
                  if (response.paging && response.paging.next) {
                    $.ajax({
                      type: 'get',
                      url: response.paging.next,
                      success: function(res) {
                        getPage(res)
                      }
                    })
                  }
                }

                getPage(response);
              }
            }
          );
        } else {
          $('.fb-integrate').prop('disabled', false);
        }
      });
    });



    $('.fb-integrate').on('click', function() {
      FB.login(function() {}, {scope: 'user_likes'});
    })
    $('.linkedin-integrate').on('click', function() {
      IN.User.authorize(function(d) {
        alert("doesn't work");
      });
    })
  });
</script>

<script type="text/javascript" src="https://platform.linkedin.com/in.js">
  api_key: 778xhtsde41js3
</script>