<!DOCTYPE html>
<html>
  <head>
    <title>FlippBook</title>
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>

  <%= yield %>

  </body>
  <script src="/js/client.min.js"></script>
</html>
